[Desktop Entry]
Version=1.0
Name=Crawl4AI - Development Mode
Comment=Start Crawl4AI Studio in development mode
Exec=gnome-terminal -- bash -c "cd '/Users/james/Library/CloudStorage/GoogleDrive-jamesbrendamour3@gmail.com/My Drive/GitHub/crawl4ai_webui/scripts' && ./dev.sh; read -p 'Press Enter to close...'"
Type=Application
Terminal=false
Icon=utilities-terminal
Categories=Development;Network;WebDevelopment;
StartupNotify=true
